/***** General *****/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #F6F6F6;
$header-bg: #EAEAEA;
$new-bg:#99E2D0;
$new-font-color:#008766;
$subtitle-font: 300;
$place-font:200;
$button-font: 500;

h1 {
    font-family: 'Shrikhand', sans-serif;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.125rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: medium;
}

a {
    text-decoration: none;
    color: black;
}

/***** Intro *****/
.intro {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 57px;
    gap: 27px;
    background-color: $bg-color;
    text-align: center;

   &__title {
        margin: 39px 58px 0px 42px;
    }
    
    &__subtitle {
        margin: 0px 58px 0px 42px;
        font-weight: $subtitle-font;
    }
    
    &__button {
        display: flex;
        justify-content: center;

        .link__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            text-decoration: none;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            background: linear-gradient(356deg, $primary-color 0%, $secondary-color 100%);
            color: white;
            height: 50px;
            width: 218px;    
            font-weight: $button-font;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            position: relative;
            z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                    
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 25px;
                background-color: rgba(255, 255, 255, 0.25);
                z-index: -1;
                transition: opacity 500ms;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
                opacity: 0;
            }
        }
    }
}

/***** Function *****/
.function {
    padding-top: 48px;
    padding-bottom: 68px;

    &__all {
        max-width: 335px;
        margin: auto;

         /*****Mobile*****/
         @media screen and (min-width: 768px) {
            max-width: 1080px;
            padding-left: 50px;
            padding-right: 50px;
        }
        /*****Mobile*****/

        h2 {
            padding-bottom: 30px;
            margin-left:-10px
        }
    
    .function__steps {
        display: grid;
        gap: 25px;

        /*****Mobile*****/
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
        }
        /*****Mobile*****/

        .step {
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 20px;
            background-color: $bg-color;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            height: 65px;
            max-width: 335px;

                .circle {
                    display: block;
                    width: 16px;
                    padding: 3px;
                    text-align: center;
                    border-radius: 20px;
                    background-color: $primary-color;
                    border: none;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    position: relative;
                    right: 11px;
                }
            }
        }
    }
}

/***** Restaurants *****/
.restaurants {
    padding-top: 54px;
    background-color: $bg-color;
    padding-bottom: 66px;

    &__all {
        max-width: 340px;
        margin: auto;

        /*****Mobile*****/
        @media screen and (min-width: 768px) {
            max-width: 1080px;
            padding-left: 50px;
            padding-right: 50px;
        }
        /*****Mobile*****/

        .restaurants__title {
            padding-bottom: 20px;
        }
    
        .restaurants__cards {
            display: grid;
            gap: 20px;

            /*****Mobile*****/
            @media screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
                gap: 50px 100px;
            }
            /*****Mobile*****/

            .card {
                background-color: white;
                border-radius: 20px;
                
                .restaurants__img {
                    object-fit: cover;
                    height: 150px;
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                    &--first {
                        background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                        background-size: cover;
                        height: 150px;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        display: flex;
                        justify-content: flex-end;
                        padding-top: 10px;
                        padding-right: 10px;
                        box-sizing: border-box;
                    }

                    &--second {
                        background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                        background-size: cover;
                        height: 150px;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        display: flex;
                        justify-content: flex-end;
                        padding-top: 10px;
                        padding-right: 10px;
                        box-sizing: border-box;
                    }
                }

                .new {
                    display:flex;
                    height:14px;             
                    background-color: $new-bg;
                    color: $new-font-color;
                    padding: 7px 12px;
                    border-radius: 2px;
                    font-weight: 500;
                    font-size: 14px;
                    text-align: center;
                }
    
                .card__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .card__txt {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap:5px;
                        padding-left: 13px;
                        padding-top: 16px;
                        padding-bottom: 12px;
                    }

                    .card__like {
                        padding-right: 40px;
                        position: relative;
                          
                        .fa-regular {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            opacity: 1;
                        }
                          
                        .fa-solid {
                            position: absolute;                       
                            top: 0;
                            left: 0;
                            z-index: 2;
                            opacity: 0;
                            transition: opacity 250ms ease-in-out;
                        }
                          
                        .fa-solid:hover {
                            opacity: 1;
                        }

                        .fa-regular:hover {
                            opacity: 0;
                        }
                        
                        .fa-regular::before {
                            background-image: linear-gradient(356deg, black 0%, black 100%);
                            background-clip: text;
                            color: rgba(0, 0, 0, 0.2);
                        }

                        .fa-solid::before {
                            background-image: linear-gradient(356deg, $secondary-color 0%, $primary-color 100%);
                            background-clip: text;
                            color: rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
    }
}

